<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%=foundCampground._id %>?_method=PUT" method="POST" novalidate
            enctype="multipart/form-data" class="validated-form">
            <!-- Title Input -->
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]"
                    value="<%= foundCampground.title %>" required>
                <div class="invalid-feedback">
                    Please fill out.
                </div>
            </div>
            <!-- Location Input -->
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]"
                    value="<%= foundCampground.location %>" required>
                <div class="invalid-feedback">
                    Please fill out.
                </div>
            </div>
            <!-- Price Input -->
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" id="price" name="campground[price]" step="0.01" min="0"
                        value="<%= foundCampground.price %>" required>
                    <div class="invalid-feedback">
                        Please fill out.
                    </div>
                </div>
            </div>
            <!-- Description Input -->
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" name="campground[description]"
                    required><%= foundCampground.description %></textarea>
                <div class="invalid-feedback">
                    Please fill out.
                </div>
            </div>
            <!-- Images Input -->
            <div class="mb-3">
                <label class="form-label" for="image">Add Images</label>
                <input id="formFiles" type="file" class="form-control" id="image" name="campground[image]" multiple>
                <div id="fileName" class="mt-2 text-muted"></div>
            </div>
            <!-- Image Thumbnails -->
            <div class="mb-3 d-flex flex-wrap gap-2">
                <% foundCampground.images.forEach((img, i) => { %>
                <div class="position-relative">
                    <img class="img-thumbnail" src="<%= img.thumbnail %>" alt="">
                    <input type="checkbox" name="deleteImages[]" value="<%= img.filename %>"
                        class="form-check-input position-absolute top-0 start-0 m-2 border-dark" title="Delete?">
                </div>
                <% }) %>
            </div>

            <div class="mb-3">
                <button class="btn btn-warning">Update</button>
            </div>
        </form>
        <div>
            <a href="/campgrounds">All Campgrounds</a>
        </div>
    </div>
</div>

<script>
    const fileInput = document.querySelector('#formFiles');
    const fileName = document.querySelector('#fileName');

    fileInput.addEventListener('change', () => {
        const files = fileInput.files;
        let fileNames = '';

        // Loop through files object
        Array.from(files).forEach(file => {
            fileNames += file.name + ', ';
        });

        // Remove last comma and space
        fileNames = fileNames.slice(0, -2);
        fileName.textContent = files.length > 0 ? `${fileNames}` : '';
    })
</script>