<% layout('layouts/boilerplate') %>

<div id="cluster-map" class="mb-4"></div>

<h1>All Campgrounds</h1>
<div class="my-4">
    <a href="/campgrounds/new">Add Campground</a>
</div>

<ul>
    <% campgrounds.forEach(campground => { %>
    <div class="card mb-4">
        <div class="row">
            <div class="col-md-4">
                <% if (campground.images.length > 0) { %>
                <img crossorigin="anonymous" src="<%= campground.images[0].url %>" alt="" class="img-fluid">
                <% } else { %>
                <img crossorigin="anonymous" src="https://res.cloudinary.com/dlvbewmvi/image/upload/v1747578568/obnoxiuslongname_sracb4.jpg"
                    alt="" class="img-fluid">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                    <p class="card-text">
                        <small class="text-secondary"><%= campground.location %></small>
                    </p>
                    <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">View
                        <%= campground.title %></a>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
</ul>

<script>
    const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %>};

</script>

<script crossorigin="anonymous" src="/javascripts/clusterMap.js"></script>