<% layout('layouts/boilerplate') %>
<h1>These Campgrounds</h1>
<div class="mb-3">
    <a href="/campgrounds/new">Add Campground</a>
</div>

<ul>
    <% campgrounds.forEach(campground => { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <% if (campground.images.length > 0) { %>
                <img src="<%= campground.images[0].url %>" alt="" class="img-fluid">
                <% } else { %>
                <img src="https://res.cloudinary.com/dlvbewmvi/image/upload/v1747578568/obnoxiuslongname_sracb4.jpg"
                    alt="" class="img-fluid">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                    <p class="card-text">
                        <small class="text-secondary"><%= campground.location %></small>
                    </p>
                    <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">View
                        <%= campground.title %></a>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
</ul>